<script type="text/javascript" src="/stylesheets/theme/jquery.js"></script>
<script type="text/javascript" src="/stylesheets/theme/modal.js"></script>
  <script type="text/javascript">
    function notyet() {
      $('#notYet').modal('show')
        return false;
    }
  </script>

  <div id="notYet" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <p><%= link_to image_tag('/images/theme/favicon.ico'), root_url, :class => 'centered' %><h4>Coming soon</h4></p>
               
                  <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true">OK</button>
                  <p> &nbsp </p>
                 </div>
            </div>
        </div>         
  </div>  

  <div id="diwali" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header diwali"></div>
                 
                 <p style="margin-top:350px;"><iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Finuni.page&amp;width=200&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 200px; height: 290px;" allowtransparency="true"></iframe></p>
                    <i><h5> Brought to you by InUni </h5></i>
                 <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true">OK</button>
                <p> &nbsp </p>
            </div>
        </div>         
  </div>
