<div class='row'>
  <div class='col-lg-8 col-lg-offset-2'>
    <h3>Page does not exist, please click on the below image to go back.</h3>
    <p><%= link_to image_tag('favicon.ico'), root_url %></p>
  </div>
  
</div>
