<div class='row'>
  <div class='col-lg-8 col-lg-offset-2'>
    <h1>Ce n'est pas la page que vous recherchez</h1>
    <p><img src="/images/theme/404.png" class="centered" alt="La page demandée n'existe pas" /></p>
    <p>La page que vous demandez n'existe pas ou a été déplacée.</p>
  </div>
  
</div>
