<article id="article-<%= article.id %>" class='h-entry hentry h-as-note row'>
  <header class='col-lg-2 col-lg-offset-1'>
    <div class='meta'>
      <p class='text-right'>
        <%= display_thumbnail(article) %>
      </p>
    </div>
  </header>  
  <section class='col-lg-8'>
    <% s = truncate(article.html(:body).strip_html, length: 140, separator: ' ') 
        article.body = s
    %>
    
    <%= link_to_permalink(article, content_tag(:h3, article.title) + article.html(:body)) %>
    <small><%= tag_links(article, "") %></small>
  </section>
  <hr class='col-lg-8 col-lg-offset-2' />
</article>
