<article class='h-entry hentry h-as-note row'>
  <header class='col-lg-2 col-lg-offset-1'>
    <div class='meta'>
      <p class='text-right'>
        <img src='<%= File.join(this_blog.base_url, "images/theme/icon_twitter_large.png") %>' class='thumb circular' /><br />
      </p>
    </div>
  </header>
  <section class='col-lg-8'>
    <p class='p-name entry-title e-content entry-content article' style='margin-top: 25px'><%= link_to_permalink(note, truncate(note.html(:body).strip_html, length: 140, separator: ' ', omissions: '...')) %></p>
  </section>
  <footer class='col-lg-10 col-lg-offset-1'>
    <hr />
  </footer>
</article>
